@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .svg-font-size-scale svg {
    height: 1em;
    width: 1em;
  }
  svg.svg-font-size-scale {
    height: 1em;
    width: 1em;
  }
}

@layer base {
  html {
    @apply font-sans;
  }
}
