@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .svg-font-size-scale svg {
    height: 1em;
    width: 1em;
  }
  svg.svg-font-size-scale {
    height: 1em;
    width: 1em;
  }
}

@layer base {
  html {
    @apply font-sans;
  }
}

html {
  scroll-behavior: smooth;
}

.hero-circle > div {
  animation: heroCircle infinite ease-in-out both;
}
.hero-circle:nth-child(1) > div {
  animation-duration: 8s;
  animation-delay: 1s;
}
.hero-circle:nth-child(2) > div {
  animation-duration: 12s;
  animation-delay: 2s;
}
.hero-circle:nth-child(3) > div {
  animation-duration: 5s;
  animation-delay: 0s;
}
.hero-circle:nth-child(4) > div {
  animation-duration: 14s;
  animation-delay: 3s;
}
.hero-circle:nth-child(5) > div {
  animation-duration: 6s;
  animation-delay: 0s;
}
.hero-circle:nth-child(6) > div {
  animation-duration: 11s;
  animation-delay: 2s;
}
@keyframes heroCircle {
  0% {
    transform: scale(0.5) translateY(100%);

    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: scale(1) translateY(-100%);
    opacity: 0;
  }
}
